.name{
    font-family: Arial;
    border-style:ridge;
}
.name:hover{
    text-shadow: 4px 6px 5px rgb(123, 144, 144);
    background-color: rgb(241, 231, 175);
    color: rgb(170, 104, 231);
    
}

.speech{
    font-family:serif;
    font-size: small;
    color: black;
}
.direction{
    font-family:Verdana;
    font-size: small;
    color: black;
    background-color: thistle;
}
.direction:hover{
    background-color:khaki;
    color: darkcyan;
}
.stockmann{
    color: crimson;
}
.mrsstockmann{
    color: rgb(17, 165, 133);
}
.horster{
    color: violet;
}
.petra{
    color: tomato;
}
.aslaken{
    color: seagreen;
}
.hovstad{
    color: purple;
}

table, td, th {  
    border: 1px solid #c71010;
    text-align: center;
  }
  
  table {
    border-collapse: inherit;
    width: 70%;
  }
  th{
    background-color: rgb(82, 238, 142);
    font-family:sans-serif;
  }
  td{

    color: blueviolet;
    font-family: cursive;
  }
  
  th, td {
    padding: 15px;
  }



